.navbarSection {
  position: fixed;
  width: 100%;
  background: white;
  border-bottom: 1px solid #e1e2e3;
  z-index: 100;
}

.navbar {
  max-width: 1060px;
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: row;
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

.menuIcon {
  width: 17px;
  height: 100%;
}

.menuSvg {
  fill: blue;
}

.jobCategoryButton,
.left,
.menu,
.asideMenu {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.divider {
  width: 1px;
  height: 10px;
  background: #e1e2e3;
  margin-left: 10px;
}

.home {
  font-size: 22px;
  font-weight: 700;
  margin-left: 14px;
}

.menuClass {
  font-weight: 500;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.menu {
  height: 100%;
  align-items: center;
  min-width: 530px;
  display: flex;
  justify-content: space-evenly;
}

.asideMenu {
  align-items: center;
  justify-content: space-evenly;
  min-width: 225px;
}

.dashboardButton {
  width: 82px;
  height: 30px;
  border: 1px solid #e1e2e3;
  border-radius: 20px;
  color: gray;
  font-size: 13px;
  margin-left: 10px;
}

.dashboardButtonS {
  width: 82px;
  height: 30px;
  border: 1px solid #4b6af7;
  border-radius: 20px;
  color: #4b6af7;
  font-size: 13px;
  margin-left: 10px;
}

.login {
  font-weight: 500;
}

.dashboard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.userMenuS {
  display: none;
}

.navbarS {
  display: none;
}

@media screen and (max-width: 1100px) and (min-width: 990px) {
  .menu {
    width: 100%;
  }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
  .navbar {
    display: flex;
    height: 60px;
    flex-direction: row;
  }

  .dashboardButtonS {
    width: 100px;
    height: 35px;
    border: 1px solid #4b6af7;
    border-radius: 20px;
    color: #3558f7;
    font-size: 14px;
    margin-left: 10px;
  }

  .userMenuS {
    display: block;
  }

  .navbarS {
    display: block;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }

  .menuS {
    min-width: 460px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
  }

  .asideMenu,
  .menu {
    display: none;
  }

  .menuSM {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    padding: 15px 0 10px 0;
    display: flex;
    height: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .dashboardButtonS {
    width: 100px;
    height: 35px;
    border: 1px solid #4b6af7;
    border-radius: 20px;
    color: #3558f7;
    font-size: 14px;
    margin-left: 10px;
  }

  .userMenuS {
    display: block;
  }

  .navbarS {
    display: block;
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    height: 50px;
  }

  .asideMenu,
  .menu {
    display: none;
  }

  .menuS {
    display: none;
  }

  .menuSM {
    display: flex;
    flex-direction: row;
    min-width: 110px;
    justify-content: space-between;
  }
}
